#menu {
    background-color: beige;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    padding: 25px;
    display: inline-flex;
}

.price-product {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}