@import url(/shared/colors.css);
@import url(/shared/main.css);

.cart-amount-control {
    margin: 0 0.3rem;
    border-radius: 100%;
    color: var(--colors-pink);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
}

.delete-product {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: bold;
}

.delete-product a{
    color: var(--colors-pink) !important;
}

.swal2-confirm {
    background: var(--colors-white) !important;
    color: var(--colors-pink) !important;
    width: auto !important;
}

.swal2-cancel {
    background: var(--colors-pink) !important;
    color: var(--colors-white) !important;
    width: auto !important;
}