@import url(/shared/colors.css);
@import url(/shared/main.css);

.status {
    font-weight: bold;
}

.detail {
    text-decoration: underline;
    font-weight: bold;
}

.listed-product:nth-of-type(1) {
    border-top: 1px solid gray;
}

.listed-product {
    border: 1px solid gray;
    border-top: none;
    background: white;
    cursor: default;
}

.listed-product:hover {
    background:rgba(0, 0, 0, 0.25)
}