.menu{
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightcoral;
    color: bisque;
    z-index: 1;
}

.card{
    max-width: 540px;
    margin-top: 2rem;
    display:inline-block;
    box-shadow: 14px 14px 14px 2px plum;
    
}

.card img{
    height: 100%;
}

 .zda{
   float: left;
} 

.der{
    text-align: right;
    float: right;
} 

p{
    color:crimson
}

h5{
    color: brown;
}