html, body { 
    /* la regla aplica para el html y body, si hay mas se separa x comas*/
            width: 100%;
            height: 200%;
            margin: 0;
            padding: 0;
       }

       *, *:before, *:after {
        box-sizing: border-box;
       }

       body{
        background-color:aquamarine;
       }

       .circulo{
        width: 3rem;
        height: 3rem;
        background-color: red;
        border: 1px solid black;
        border-radius: 100%;
        /* Si pongo los porcentajes de cada esquina, los toma de derecha a izda*/ 
        position: absolute;
        z-index: 1;
        }


       .si{
        top: 1rem;
        left: 1rem;
        }

       .sd{
        top: 1rem;
        right: 1rem;
       }

       .ii{
        bottom: 1rem;
        left: 1rem;
       }

       .id{
        bottom: 1rem;
        right: 1rem;
       }

       .caja{
        margin: 10rem;
        width: 30rem;
        height: 15rem;
        position: relative;
        background-color: burlywood;
        padding: 5rem;
        }

        .caja2{
            width: 2;
            height: 2rem;
            background-color:red;
        }

       .menu{
        width: 100%;
        height: 68px;
        background-color: blue;
        /*position: static;*/
       position: sticky;
       left: 0;
       top: 0;
        }
