@import url(/shared/colors.css);
@import url(/shared/main.css);

@keyframes appear {
    from {
        opacity: 0;
        left: -1000%;
    } to {
        opacity: 1;
        left: 28%;
    }
}

#home-carousel .carousel, #home-carousel .carousel-inner, #home-carousel .carousel-item {
    height: 28rem;
}

#home-carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
h4, p{
    color: black;
    font-weight: bold;
    height: 1rem;
}

#home-carousel .carousel-caption {
    background: rgba(254, 251, 251, 0.75);
}  

/* .carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: rgba(203, 193, 193, 0.75);
} */