html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    height: 68px;
    background-color:midnightblue;
    position: sticky;
    left: 0;
    top: 0;
    border-bottom: 1px solid black;
    
}

main{
    width: 70%;
    margin: auto;
    padding-top: 1rem;
}

.logo{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

h1{
    margin: 0;
    color: azure;
    padding-left: 1rem;
}

.cuadro{
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: aquamarine;
    float: left;
}

.cuadro:hover {
    background-color: deeppink;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.5s;
}


.clear{
    clear: both;
}

