html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.cuadro {
    float: left;
    width: 20rem;
    height: 20rem;
    background-color: indianred;
    border: 5px dotted yellowgreen;
    padding: 1rem;
    margin: 1rem;
}