:root {

    --colors-red: #ffb693;
    --colors-pink:#9dfcb4;
    --colors-yellow:#d7e1e9;
    --color-lavanda: #fbadde;
    --color-white:  #ffff;
    --color-gray:#03433e;
    --color-verde:#37EB60;
}
html, body {
   background-color: var(--colors-white);
}
