:root {

    --colors-red:#b13d26;
    --colors-pink: #F52E76;
    --colors-yellow: #fea419;
    --color-lavanda: #9ba2ff;
    --color-white:  #FFFAF7;

}
html, body {
   background-color: var(--colors-white);
}
