:root {

    --colors-red: #ffb693;
    --colors-pink:#d5f0bd;
    --colors-yellow:#87d4f0;
    --color-lavanda: #c8a7bc;
    --color-white:  #EEECBB;
    --color-gris:#047D74;
    --color-verde:#37EB60;
}
html, body {
   background-color: var(--colors-white);
}
