h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chessboard{
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 10px solid #000;
}

.black{
    background-color: black;
    width: 80px;
    height: 80px;
    float: left;
    display: table-cell;
}

.white{
    background-color: azure;
    width: 80px;
    height: 80px;
    float: left;
    display: table-cell;
}