@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto+Condensed:wght@400;700&display=swap');


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100%;
    align-items: center;
}

.wrapper {
    flex-shrink: 0;
    width: 100%;
}

.tarjeta {
    width: 35rem;
    height: 20rem;
    background: radial-gradient(#e9a3ac, #c7737c);
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.uno {
    margin-bottom: 2rem;
}


.logo {
    width: 170px;
    height: 80px;
}

.logo2 {
    width: 100px;
    height: 50px;
}

h1 {
margin: 0;
font-size: 1.8rem;
color: ghostwhite;
font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 1.1rem;
    color: #653c3d;
    font-family: 'Monserrat', sans-serif;
    font-style: italic;
}

h3 {
    font-size: 1.1rem;
    color: #e9a3ac;
    font-family: 'Monserrat', sans-serif;
}

h4 {
    color: #653c3d;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'Monserrat', sans-serif;
}

h4 .material-icons {
    font-size: 0.75rem;
    padding: 0.7rem;
}

.mitad {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
}

.mitad:first-child {
    background-color: #653c3d;
    text-align: left;
    padding: 2rem;
}

.flex {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}
