@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.material-icons {
    font-size: inherit !important;
    line-height: inherit !important;
}

.offcanvas {
    background-color: var(--colors-yellow) !important;
}

.main-menu {
    margin-bottom: 1rem;
}

.main-menu > .navbar {
    background-color: var(--colors-pink);
}

.main-menu > .navbar input[type=search] {
    background-color: var(--colors-white);
}

.main-menu > .navbar button[type=submit] {
    background: var(--colors-pink);
    border: 2px solid var(--colors-yellow);
    color: var(--colors-white);
}

.main-menu > .navbar .dropdown-menu {
    background: var(--colors-pink);
    border: 2px solid var(--colors-yellow);
}

.main-menu > .navbar .dropdown-item {
    color: white;
}

.main-menu > .navbar .dropdown-item:hover {
    background-color: var(--colors-yellow);;
}

.main-menu > .navbar .dropdown-menu li:not(:last-child) {
    border-bottom: 2px solid var(--colors-yellow);
}

.menu-logo {
    color: var(--colors-white);
    font-weight: bold;
}

.menu-logo:hover {
    color: var(--colors-gray);
}

.menu-navigation {
    position: relative;
    display: none;
    padding: 0;
    background-color: var(--colors-yellow);
}

.menu-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-navigation:hover > section:last-child {
    display: block;
}

.menu-navigation li {
    color: var(--colors-white);
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.menu-navigation li:hover {
    background-color: var(--colors-red);
}

.sub-category {
    color: var(--colors-white);
    padding: 0 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.sub-category:hover {
    background-color: var(--colors-red);
}

.subcategory-type {
    padding: 0.35rem 0.75rem;
    font-size: 0.75rem;
}

.subcategory-type:hover {
    background-color: var(--colors-lavanda);
}

.sub-menu {
    position: absolute;
    display: none;
    background: var(--colors-yellow);
    width: 100%;
}

.profile {
    color: var(--colors-white);
    font-weight: bold;
}

.login-button {
    color: var(--colors-white);
    font-weight: bold;
}