body{
    margin: 8px;
    height: 800vh;
}

*, *before, *after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
    
}

.rojo, .verde, .amarillo, .azul {
    height: 80px;
    border-radius: 16px;
}

.rojo{
    background-color: red;
    width: 80%;
    top: 40px;
    position: fixed;


}

.verde{
    background-color: green;
    width: 60%;

}

.amarillo{
    background-color: yellow;
    width: 20%;
}

.azul{
    background-color: blue;
    width: 100%;
}