.card {
    width: 18rem;
}
body > header {
    height: 68px;
    background-color: rgb(118, 92, 206);
}
input[type=radio]+ label{
    margin-right: 0.5rem;
}
.preview {
    margin:auto;
}
.theme-forest {
    
}