@import url(/shared/colors.css);
@import url(/shared/main.css);

.error-message {
    color: var(--colors-red);
    font-weight: bold;
    font-size: 1.8em;
}

.error-icon {
    font-size: 12rem !important;
}

a {
    color: var(--colors-yellow);
}

a:hover {
    color: var(--colors-pink)
}