@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.material-icons {
    font-size: inherit !important;
    line-height: inherit !important;
}

.offcanvas {
    background-color: var(--colors-yellow) !important;
}

.main-menu{
    margin-bottom: 1rem;
}

.main-menu > .navbar {
    background-color: var(--colors-pink);
}

.main-menu > .navbar input[type=search] {
    background-color: var(--colors-white);
}

.main-menu > .navbar button[type=submit] {
    background: var(--colors-pink);
    border: 2px solid var(--colors-yellow);
    color: var(--colors-white);
}

.main-menu > .navbar .dropdown-menu {
    background: var(--colors-pink);
    border: 2px solid var(--colors-yellow);
}

.main-menu > .navbar .dropdown-item {
    color: white;
}

.main-menu > .navbar .dropdown-item:hover {
    background-color: var(--colors-yellow);;
}

.main-menu > .navbar .dropdown-menu li:not(:last-child) {
    border-bottom: 2px solid var(--colors-yellow);
}

.menu-logo {
    color: var(--colors-white);
    font-weight: bold;
}

.menu-logo:hover {
    color: var(--colors-gray);
}

.menu-navigation {
    position: relative;
    display: none;
    padding: 0;
    background-color: var(--colors-pink);
}

.menu-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-navigation li {
    background-color: var(--colors-yellow);
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}

.menu-navigation li:hover {
    background-color: var(--colors-gray);
}


.profile {
    color: var(--colors-white);
    font-weight: bold;
}

.sub-menu{
    position: absolute;
    border: 1px solid var(--colors-pink);
    background: var(--colors-yellow);
    height: 10rem;

}

/*Productos*/

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.material-icons {
    font-size: inherit !important;
    line-height: inherit !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#menu {
    background-color: cadetblue;
    padding: 0.5rem 0.2rem;
    color: white;
}

.precio-producto {
    font-weight: bold;

}

.precio-producto::before {
    content: "$";
}

.agregar-producto {
    background: var(--colors-yellow) ;
    color: var(--colors-gray);
}

.product .carousel-item img {
    height: 18rem;
    object-fit: cover;
    object-position: center;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.accordion-button:not{
    color: var(--colors-pink);
}

.accordion-button:item{
    color: var(--colors-pink);
}

.agregar-producto:disabled{
    
}