html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
}

.cuadro{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border: 2px solid rgb(0, 0, 0);
}

.rojo{
    background-color: red;
    left: 3rem;
    top: 3rem;
}

.verde{
    background-color: green;
    left: 6rem;
    top: 6rem;
}

.amarillo{
    background-color: yellow;
    left: 9rem;
    top: 9rem;
}

.azul{
    background-color: blue;
    left: 12rem;
    top: 12rem;
}

.relative{
    position: relative;
    width: 80%;
    height: 80%;
    margin:10%;
    background-color: white;
}