@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100%;
    align-items: center;
}

.wrapper {
    flex-shrink: 0;
    width: 100%;
}

.tarjeta {
    width: 35rem;
    height: 20rem;
    /*background: linear-gradient(90deg,blue, green, yellow);*/
    /*background:radial-gradient(ellipse at 50%, blue, green);*/
    /*background:radial-gradient(circle at 100%, blue, green);*/
    /*background: linear-gradient(45deg, #8126e2 30% 19%, #60FAE9 87% 39% );*/
    background: linear-gradient(358deg, rgb(3 11 38), rgb(39 97 137),rgb(14 228 243));
    margin: auto;

    display: flex;
    align-items: center;
    text-align: center;
}

.tarjeta:last-child {
    margin-top: 1rem;
}

.logoFIQ {
    width: 60px;
    height: 60px;
}

.logoPosgrado{
    width: 60px;
    height: 60px;
}

h1, h2, h6 {
    margin: 0;
    font-size: 1.5em;
    color: rgb(237, 231, 240);
    font-family:'Edu NSW ACT Foundation', cursive;
}

h2 {
    font-size: 1.1em;
    color: rgb(235, 229, 227);
}

h6 {
    margin-top: 0.3rem;
    font-size: 0.75rem;
}

h6 .material-icons {
    font-size: 0.75rem;
}

.mitad {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
}

.mitad:first-child {
    background-color: rgb(3 11 38);
    text-align: left;
    padding: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    text-align: center;
}

.h100 {
    height: 100%;
}