html {
    font-family: 'Montserrat', sans-serif;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;
}

body{
    background-color: #efefef;
}

header{
    background-color: palevioletred;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
    
}

header section {
    display: inline-block;
    
}

header h1{
    font-size: 4rem;
    display: inline-block;
}

header img {
    width: 48px;
    height: 48px;
    display: inline-block;
    
    
}



.container
{
    width: 400px;
    margin: 0 auto;
}

section article{
    padding: 0.25rem 0;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

section article:hover{
box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0.3);
}

section article h2, section article p { 
    margin: 1rem;
}

footer{
    background-color: palevioletred;
    padding: 3rem;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;

}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: paleturquoise;
}