:root {
    --colors-red: #b13d26;
    --colors-pink: #b996232a;
    --colors-yellow: #96d19d8d;
    --colors-lavanda: #2f476b;
    --colors-white: #f2f5ff;
    --colors-gray: #696969;
}

html, body {
    background-color: var(--colors-white);
}