*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto
}

.sidebar{
    height: 250px;
    width: 10px;
    position: fixed;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}

p{
    left: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font: 1rem;
}

.social{
    margin-left: -30px;
    width: 230px;
    padding: 0;
    display: inline-block;
    height: 60px;
    cursor: pointer;    
}

.social:hover{
    margin-left: 100px;
    width: 230px;
    transition: all 5s ease;
    background-color: beige;
}

.social p:hover {
    color: blue !important;
}

.facebook{
    background-color: blue;
}

.twitter{
    background-color: aqua;
}

a{
    color:white;
    text-decoration: none;
}

.icon{
    width: 20px;
    height: 20px;
    fill: white
}