main {
    overflow: auto;
}

section {
    float: left;
    margin: 1rem;
}

div.circulo {
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
    background-color: palegreen;
    border-radius: 100%;
}

.clear {
    clear: both;
}