.card {
    width: 24rem;
    height: 16rem;
}

body > header {
    height: 68px;
    background-color: rgb(77, 77, 235);
}

input[type=radio] + label {
    margin-right: 0,3rem;
}

.preview {
    margin: auto;
}

.theme-forest {
     background-color: green;
     color: whitesmoke;

}

.theme-forest a {
     background-color: darkgreen;
     color: whitesmoke;
     border: 1px solid darkgreen;
}

.text-bg-secondary a {
    background-color: gray !important;
    color: whitesmoke !important;
    border: 1px solid gray !important;
}

.rendered-card {
    float: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
