.forma{
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;  
    }
.circulo{
    border: 1px solid black;
    background-color: hotpink;
    display: inline-block;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;  
    }    